<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>E-commerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddToCartServelet</display-name>
    <servlet-name>AddToCartServelet</servlet-name>
    <servlet-class>org.atharva.Servelet.AddToCartServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServelet</servlet-name>
    <url-pattern>/add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIcrementDecrement</display-name>
    <servlet-name>QuantityIcrementDecrement</servlet-name>
    <servlet-class>org.atharva.Servelet.QuantityIcrementDecrement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIcrementDecrement</servlet-name>
    <url-pattern>/quantity-inc-dec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServelet</display-name>
    <servlet-name>RemoveFromCartServelet</servlet-name>
    <servlet-class>org.atharva.Servelet.RemoveFromCartServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServelet</servlet-name>
    <url-pattern>/remove-from-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServelet</display-name>
    <servlet-name>OrderNowServelet</servlet-name>
    <servlet-class>org.atharva.Servelet.OrderNowServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServelet</servlet-name>
    <url-pattern>/order-now</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOurServelet</display-name>
    <servlet-name>CheckOurServelet</servlet-name>
    <servlet-class>org.atharva.Servelet.CheckOurServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOurServelet</servlet-name>
    <url-pattern>/CheckOurServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServelet</display-name>
    <servlet-name>CheckOutServelet</servlet-name>
    <servlet-class>org.atharva.Servelet.CheckOutServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServelet</servlet-name>
    <url-pattern>/cart-check-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrderServelet</display-name>
    <servlet-name>CancelOrderServelet</servlet-name>
    <servlet-class>org.atharva.Servelet.CancelOrderServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServelet</servlet-name>
    <url-pattern>/cancel-order</url-pattern>
  </servlet-mapping>
</web-app>